@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@inject IHttpContextAccessor HttpContextAccessor
@{
    var idRol = HttpContextAccessor.HttpContext.Request.Cookies["id_rol"] != null
            ? int.Parse(HttpContextAccessor.HttpContext.Request.Cookies["id_rol"])
            : (int?)null;
    var menus = new List<Menu>();

    if (idRol.HasValue)
    {
        var httpClient = new HttpClient();
        var response = await httpClient.GetAsync($"https://localhost:7117/Menu/ListarMenusPorRol/{idRol.Value}");

        if (response.IsSuccessStatusCode)
        {
            var content = await response.Content.ReadAsStringAsync();
            menus = JsonConvert.DeserializeObject<List<Menu>>(content);
        }
    }
}

<!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Sistema de Matriculas</title>
        <!-- BOOTSTRAP STYLES-->
        <link href="~/css/bootstrap.css" rel="stylesheet" />
        <!-- Simple-DataTables con tema Bootstrap 5 -->
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.bootstrap5.min.css"
              rel="stylesheet" />
        <!-- MORRIS CHART STYLES-->
        <link href="~/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
        <!-- CUSTOM STYLES-->
        <link href="~/css/custom.css" rel="stylesheet" />

        <!-- GOOGLE FONTS-->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css" />
        <!-- NUEVO: carga la versión CSS de FontAwesome -->
        <link rel="stylesheet"
              href="https://use.fontawesome.com/releases/v6.3.0/css/all.css"
              integrity="sha384-…tu-hash-aquí…"
              crossorigin="anonymous" />


    </head>
    <body>
        <div id="wrapper">
            <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">Usuario</a>
                </div>
                <div style="color: white;
                    padding: 15px 50px 5px 50px;
                    float: right;
                    font-size: 16px;">
                Last access : 30 May 2014 &nbsp; <a href="@Url.Action("Logout", "Login")" class="btn btn-danger">Cerrar Sesión</a>
                </div>
            </nav>
            <!-- /. NAV TOP  -->
            <nav class="navbar-default navbar-side" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav" id="main-menu">
                        <li class="text-center">
                            <img src="/img/find_user.png" class="user-image img-responsive" />
                        </li>


                        <li>
                            <a class="active-menu" href="index.html"> Dashboard</a>
                        </li>
                    @if (menus.Any())
                    {
                        var grupos = menus.GroupBy(m => m.controlador);

                        @foreach (var grupo in grupos)
                        {
                            <li class="mt-3 text-muted px-3">@grupo.Key.ToUpper()</li>

                            @foreach (var menu in grupo.OrderBy(m => m.orden))
                            {
                                <li>
                                    <a class="nav-link" href="@Url.Action(@menu.url_menu, menu.controlador) ">
                                        @menu.titulo_menu
                                    </a>
                                </li>
                            }
                        }
                    }
                    else if (idRol.HasValue)
                    {
                        <li class="text-danger px-3">No tiene menús asignados</li>
                    }
                    else
                    {
                        <li class="text-danger px-3">No autenticado</li>
                    }

                </div>

            </nav>
            <!-- /. NAV SIDE  -->
            <div id="page-wrapper">
                <div id="page-inner">
                    <!-- /. ROW  -->
                    <div class="row">
                        <div class="col-md-9 col-sm-12 col-xs-12">
                            @RenderBody()
                        
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="~/js/jquery-1.10.2.js"></script>
        <!-- SweetAlert2 global -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <!-- BOOTSTRAP SCRIPTS -->
        <script src="~/js/bootstrap.bundle.min.js"></script>
        <!-- METISMENU SCRIPTS -->
        <script src="~/js/jquery.metisMenu.js"></script>
        <!-- MORRIS CHART SCRIPTS -->
        <script src="~/js/morris/raphael-2.1.0.min.js"></script>
        <script src="~/js/morris/morris.js"></script>
        <!-- CUSTOM SCRIPTS -->
        <script src="~/js/custom.js"></script>

        <script src="~/js/scripts.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
        <script src="~/js/datatables-simple-demo.js"></script>

        @RenderSection("Scripts", required: false)

    </body>
    </html>
