@model IEnumerable<MatriculasMODELS.Aula>

@{
    ViewData["Title"] = "Listado de Aulas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="mt-4 mb-4">Listado de Aulas</h1>
<div class="mb-3">
    <a asp-action="registrarAula" class="btn btn-primary">
        <i class="fas fa-plus-circle"></i> Registrar Aula
    </a>
</div>

<div class="container-fluid px-4">
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Aulas Registradas
        </div>
        <div class="card-body">
            <table id="datatablesSimple" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.First().cod_aula)</th>
                        <th>@Html.DisplayNameFor(m => m.First().capacidad_aula)</th>
                        <th>@Html.DisplayNameFor(m => m.First().es_disponible)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.cod_aula</td>
                            <td>@item.capacidad_aula</td>
                            <td>
                                @if (item.es_disponible)
                                {
                                    <i class="fas fa-check-circle text-success fa-lg"></i>
                                }
                                else
                                {
                                    <i class="far fa-circle text-secondary fa-lg"></i>
                                }
                            </td>
                            <td>
                                @Html.ActionLink("Editar", "editarAula", new { cod = item.cod_aula }, new { @class = "me-2" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>